import React from 'react';

interface {{ properCase name }} {
  msg: string;
}

const {{ properCase name }}: React.FC<{{ properCase name }}> = (props) => {
  return <div>{props.msg}</div>;
};

export default Test;
